# Server Configuration
PORT=3000

# Database Configuration (PostgreSQL)
DB_USER=postgres
DB_HOST=localhost
DB_DATABASE=core_rrhh
DB_PASSWORD=your_password_here
DB_PORT=5432

# Security Configuration
JWT_SECRET=super_secret_core_rrhh_jwt_key_2026
JWT_EXPIRES_IN=24h
